<% include header.html %>
<div class="container">
    <h1>Contact Us</h1>
    <form action="" method="post">
        <input type="text" name="email" placeholder="Your Email or Phone Number" class="form-control" autofocus>
        <textarea name="question" placeholder="Your Question" class="form-control"></textarea>
        <select name="type" class="form-control">
            <option value="product">Product</option>
            <option value="service">Service</option>
        </select>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset">Reset</button>
    </form>
</div>        
<% include footer.html %>